<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> My Site </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body class="p-2">
    <header> 
        / <a href="/">Home page </a>
        <!--
        / <a href="/list"> RSVP list</a> /
        -->
    </header>
    {{ block "body" . }} Content here {{ end }}
</body>
</html>