{{ define "body" }}

<div class="text-center p-2">
    <h6>Список пользователей</h6>
    <table class="table table-bordered table-striped table-sm">
        <thead>
            <tr><th>Name</th><th>SecretNumber</th></tr>
        </thead>
        <tbody>
            {{ range .Users }}
                <tr>
                    <td>{{ .Login }}</td>
                    <td>{{ .SecretNumber }}</td>
                </tr>
            {{ end }}
        </tbody>
    </table>
    <h5> Для выхода из аккаунта нажмите "Logout"</h5>
        <a class="btn btn-primary" href="/logout"> Logout </a>
        <p></p>

</div>

{{ end }}