{{ define "body" }}
    
    <div class="text-center">
        <h3>
            Здравствуйте!
            <p>Вы попали на страницу некого сайта и т.д. и т.п.</p>
        </h3>
        <h4> Если хотите войти нажмите "Login"</h4>
        <a class="btn btn-primary" href="/login"> Login </a>
        <p></p>
        <h4> Если хотите зарегистрироваться нажмите "Register"</h4>
        <a class="btn btn-primary" href="/register"> Register </a>
        <p></p>
        <p></p>
        <p></p>
        <h4> Если хотите посмтореть зарегистрированных пользователей нажмите "Users"</h4>
        <p>(для просмотра необходимо ввести логин и пароль)</p>
        <a class="btn btn-primary" href="/users"> Users </a>
        <p></p>
    </div>
    
{{ end }}

